.image-container {
    position: relative;
    display: block;
    margin: auto;
    cursor: pointer;
}

#imageDescription {
    white-space: nowrap;
    text-align: left;
    align-self: flex-start;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

#categoryDescription {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

#buttonLeft,
#buttonRight {
    /*     position: absolute; */
    width: 50%;
    height: calc(100% + 22px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: black;
    display: flex;
    transition: color 0.5s ease-in-out;
    font-size: 14px !important;
    cursor: pointer;

    &:hover {
        color: #939393;
    }

    &::before {
        color: black;
    }
}

#buttonLeft {
    left: 0;
    padding-left: 10px;
    justify-content: right;
    align-items: flex-end;
}

#buttonRight {
    right: 0;
    text-align: right;
    padding-right: 10px;
    align-items: flex-end;
}

.carousel-buttons-container {
    position: absolute;
    padding-top: 12vh;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 76vh;
}
