.photos-container {
  width: 100%;
  height: 100%;

  &.flex-container {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  h3 {
    margin-bottom: 70px;
    font-weight: bolder;
    font-style: italic;
  }

  .photo-container {
    margin-bottom: 3rem;

    &.flex-container {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 0.85rem;
      text-align: center;
    }
  }
}
